.bg-overlay-primary:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    //background: rgba(232, 226, 225,.85);
    //opacity: 0.85;
    z-index: -1;
}

.img-cover {
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.img-fluid {
    max-width: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
}

.card {
    padding: 15px;
    margin: 0 auto;
    top: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-item: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
    opacity: 0.85;
}



.navbar-custom {
    background-color: #000000;
    color:#ffffff;
    border-radius:0;
    opacity: 0.85;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;

}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #333333;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#272727;
}
.navbar-custom .icon-bar {
    background-color:#272727;
}


.btn-info, .btn-info:active, .btn-info:visited {
    background-color: #333333 !important;
    border-color: #333333 !important;
    opacity: 0.5;
    transition: transform .15s ease;
}

.btn-info:hover {
    background-color: #333333 !important;
    border-color: #333333 !important;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    transform: translatey(-1px);
    opacity: 1;
}
.btn:focus {
  outline: none !important;
}
