<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    {% endblock %}
    {% block styles %}
    <link rel="stylesheet" href="{{url_for('.static', filename='bg.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='admin.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('.static', filename='lib/fontawesome/css/all.css')}}">
    <link rel="stylesheet" href="//malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.min.css">
    {% endblock %}

</head>

<body>
<nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                                                
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">WebSiteName</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#">模型介紹</a></li>
                <li><a href="{{ url_for('build') }}">模型建立</a></li>
                <li><a href="{{ url_for('predict') }}">模型預測</a></li>
            </ul>
            {% if name %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{{ url_for('dashboard') }}"> {{ name }}
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('dashboard')}}?view=user_info">個人資訊</a></li>
                        <li><a href="{{ url_for('dashboard')}}?view=mod_manage">模型管理</a></li>
                        <li><a href="{{ url_for('dashboard')}}?view=var_manage">資料集資訊</a></li>
                        <li><a href="{{ url_for('logout') }}">登出</a></li>
                    </ul>
                </li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('signup') }}"><span class="glyphicon glyphicon-user"></span> 註冊</a></li>
                <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> 登入</a></li>
            </ul>         
            {% endif %}
        </div>
    </div>
</nav>
    
<div class="page-wrapper default-theme sidebar-bg bg1 toggled">
    <div id="toggle-sidebar" onclick="closemenu()" class="show-sidebar page-wrapper-btn">
        <i class="fas fa-bars"></i>
    </div>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
        <!-- sidebar-brand  -->
        <div class="sidebar-item sidebar-brand d-flex flex-nowrap">
            <div id="close-sidebar" onclick="closemenu()">
            <i class="fas fa-bars"></i>
            </div>
            <a href="#"></a>
        </div>
        <!-- sidebar-header  -->
        <div class="sidebar-item sidebar-header d-flex flex-nowrap">
            <div class="user-pic">
            <img class="img-responsive img-rounded" src="../static/img/boy.svg" alt="User picture" />
            </div>
            <div class="user-info">
            <span class="user-name">
                王
                <strong>小明</strong>
            </span>
            <span class="user-role">Administrator</span>
            <span class="user-status">
                <i class="fa fa-circle"></i>
                <span>Online</span>
            </span>
            </div>
        </div>

        <!-- sidebar-menu  -->
        <div class="sidebar-item sidebar-menu">
            <ul>
            <li class="header-menu">
                <span>Menu</span>
            </li>
            <li>
                <a href="#" onclick="userinformation()">
                <i class="fa fa-id-card"></i>
                <span class="menu-text">個人資訊</span>
                </a>
            </li>
            <li>
                <a href="#" onclick="management()">
                <i class="fa fa-tachometer-alt"></i>
                <span class="menu-text">模型管理</span>
                </a>
            </li>
            <li>
                <a href="#" onclick="datasets()">
                <i class="fa fa-folder"></i>
                <span class="menu-text">資料集管理</span>
                </a>
            </li>
            </ul>
        </div>
        <!-- sidebar-menu  -->
        </div>
    </nav>
    <!-- page-content
    <main class="page-content pt-2">
        <router-view />
    </main>
            page-content" -->
    </div>
    <div class="bg-overlay-primary">
        <img src="../static/img/9.jpg" class="img-fluid img-cover" alt="bgcimg">
    </div>
    <script>
      function closemenu() {
        jQuery(function ($) {
          $(".page-wrapper").toggleClass("toggled");
        });
      }
      function userinformation() {
        jQuery(function ($) {
          if(! $('.dataset').is('.hidden')){
            $('.dataset').addClass('hidden');
          }
          if(! $('.management').is('.hidden')){
            $('.management').addClass('hidden');
          }
          if($('.userinformation').is('.hidden')){
            $(".userinformation").toggleClass('hidden');
          }
        });
      }
      function datasets() {
        jQuery(function ($) {
          if(! $('.userinformation').is('.hidden')){
            $('.userinformation').addClass('hidden');
          }
          if(! $('.management').is('.hidden')){
            $('.management').addClass('hidden');
          }
          if($('.dataset').is('.hidden')){
            $(".dataset").toggleClass('hidden');
          }
        });
      }

      function management() {
        jQuery(function ($) {
          if(! $('.userinformation').is('.hidden')){
            $('.userinformation').addClass('hidden');
          }
          if(! $('.dataset').is('.hidden')){
            $('.dataset').addClass('hidden');
          }
          if($('.management').is('.hidden')){
            $(".management").toggleClass('hidden');
          }
        });
      }

    </script>

{% block content %}
{% endblock %}
</body>



</html>