<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    {% endblock %}
    {% block styles %}
    <link rel="stylesheet" href="{{url_for('.static', filename='bg.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    {% endblock %}

</head>
<body>
<nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                                                
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">WebSiteName</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#">模型介紹</a></li>
		        <li><a href="{{ url_for('build') }}">模型建立</a></li>
                <li><a href="{{ url_for('predict') }}">模型預測</a></li>
            </ul>
            {% if name %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{{ url_for('dashboard', tab='') }}"> {{ name }}
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('dashboard')}}?view=user_info">個人資訊</a></li>
                        <li><a href="{{ url_for('dashboard')}}?view=mod_manage">模型管理</a></li>
                        <li><a href="{{ url_for('dashboard')}}?view=var_manage">資料集資訊</a></li>
                        <li><a href="{{ url_for('logout') }}">登出</a></li>
                    </ul>
                </li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('signup') }}"><span class="glyphicon glyphicon-user"></span> 註冊</a></li>
                <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> 登入</a></li>
            </ul>         
            {% endif %}
        </div>
    </div>
</nav>
<div class="bg-overlay-primary">
    <img src="../static/img/9.jpg" class="img-fluid img-cover" alt="Robust UI Kit">
</div>
{% block content %}
{% endblock %}
</body>
</html>
