{% extends "navbar.html" %}

{% block title %}
模型預測
{% endblock %}

{% block js %}
{{super()}}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="{{url_for('.static', filename='lib/spreadsheet/spreadsheet.js')}}"></script>
{% endblock %}

{% block styles %}
{{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='lib/spreadsheet/spreadsheet.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='lib/stepProgress/step-progress.min.css')}}">
    <style type="text/css"> 
        h4 { 
            margin-top:20px; 
            margin-bottom:20px; 
        }
    </style>
{% endblock %}

{% block content %}
     <div class="container">
        <div class="col-sm-1 col-md-1"></div>
        <div class="col-sm-10 col-md-10 card">
            <div class="steps">
                <ul class="steps-container" style='padding-inline-start: 0px;'>
                    <li style="width:33%;" class="activated">
                        <div class="step">
                            <div class="step-image"><span></span></div>
                            <div class="step-current">Step1</div>
                            <div class="step-description">選擇模型</div>
                        </div>
                        <a data-toggle="tab" href="#Step1"></a>
                    </li>
                    <li style="width:34%;">
                        <div class="step">
                            <div class="step-image"><span></span></div>
                            <div class="step-current">Step2</div>
                            <div class="step-description">設定輸入值</div>
                        </div>
                        <a data-toggle="tab" href="#Step2"></a>
                    </li>
                    <li style="width:33%;">
                        <div class="step">
                            <div class="step-image"><span></span></div>
                            <div class="step-current">Step3</div>
                            <div class="step-description">進行預測</div>
                        </div>
                        <a data-toggle="tab" href="#Step3"></a>
                    </li>
                </ul>
                <div class="step-bar" style="width: 33%;"></div>
            </div>

            <div class="tab-content">
                <div id="Step1" class="tab-pane fade in active">
                    <h4 class="col-sm-6">請選擇一個模型</h4>
                    <form>
                        <div class="col-sm-12 form-group form-group-sm">
                            <label class="col-sm-2">Model:</label>
                            <div class="col-sm-3">
                                    <select class="form-control form-control-sm">
                                            <option>Model1</option>
                                    </select>
                            </div>
                            <div class="col-sm-3"></div>
                            <div class="desc col-sm-4">
                                <p>&nbsp&nbsp&nbsp&nbsp&nbspSome Desc</p>
                                <br>
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                    </form>

                    <div class="text-right col-sm-12" style="margin-top:20px;">
                        <button type="button" class="btn btn-info text-right btnNext">下一步</button>
                    </div>
                </div> <!-- Step1 -->

                <div id="Step2" class="tab-pane fade">
                    <h4 class="col-sm-6">請設定輸入值</h4>
                    <div class="col-sm-12">
                        <div class="form-group col-sm-6">
                            <div class="input-group input-file" name="Fichier1">
                                <input type="text" class="form-control" placeholder='從本地選擇資料集...' />
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-choose" type="button">Choose</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <section class="dhx_sample-container" >
                            <div class="dhx_sample-container__widget" style="height: 300px" id="spreadsheet"></div>
                        </section>
                    </div>
                    <div class="text-right col-sm-12" style="margin-top:20px;">
                        <button type="button" class="btn btn-info btnPrevious">上一步</button>
                        <button type="button" class="btn btn-info btnNext">下一步</button>
                    </div>
                    <br><br><br><br>
                </div> <!-- Step2 -->

                <div id="Step3" class="tab-pane fade">
                    <div class="col-sm-12" style="margin-top:20px;">
                        <button type="button" class="btn btn-info">Predict</button>
                    </div>
                    <div class="col-sm-12" style="margin-top:20px;">
                        <section class="dhx_sample-container" >
                            <div class="dhx_sample-container__widget" style="height: 300px" id="spreadsheetPred"></div>
                        </section>
                    </div>
                    <div class="text-right col-sm-12" style="margin-top:20px;">
                        <button type="button" class="btn btn-info btnPrevious">上一步</button>
                        <button type="button" class="btn btn-info">匯出結果</button>
                    </div>
                    <br><br><br><br>
                </div> <!-- Step3 -->
            </div>
        </div>
        </div>
    </div><!-- /.container -->
    <script src="{{url_for('.static', filename='js/fileupload.js')}}"></script>
    <script>
        var maxIdx = 10;
        var reader = new FileReader();
        var spreadsheet = new dhx.Spreadsheet("spreadsheet", {
            colsCount: 24,
            rowsCount: 10,
            autoFormat:false,
            toolbarBlocks: [ "undo", "clear", "rows"],
        });
        
        var spreadsheetPred = new dhx.Spreadsheet("spreadsheetPred", {
            colsCount: 24,
            rowsCount: 10,
            autoFormat: false,
            editLine: false,
            toolbarBlocks: []
        });
        $( document ).ready(function() {
            document.getElementById('fileupload').addEventListener('change', function (e) {
                var files = e.target.files;
                var fileExt = files[0].name;
                fileExt = fileExt.substring(fileExt.lastIndexOf('.')).toLowerCase();

                if(fileExt != undefined && '.csv' == fileExt.toLowerCase()) {
                    reader.readAsText(files[0]);
                }   
            }, false);

            reader.onload = function(e) {
                spreadsheet.parse(reader.result, 'csv');
            };
        });
    </script>
    <script>
        var stepBar = $('.step-bar');
        var re = /\d+/;

        $('.btnNext').click(function() {
            var selector = $('.steps-container > .activated:last').next('li');
            selector.addClass('activated');
            selector.find('a').trigger('click');
            
            var selectorWidth = parseInt(selector.get(0).style.width.match(re));
            var stepBarWidth = parseInt(stepBar.get(0).style.width.match(re));
            stepBar.get(0).style.width = stepBarWidth + selectorWidth + '%';
        });

        $('.btnPrevious').click(function(){
            var selector = $('.steps-container > .activated:last');
            selector.removeClass('activated');
            selector.prev('li').find('a').trigger('click');

            var selectorWidth = parseInt(selector.get(0).style.width.match(re));
            var stepBarWidth = parseInt(stepBar.get(0).style.width.match(re));
            stepBar.get(0).style.width = stepBarWidth - selectorWidth + '%';
        });
    </script>
{% endblock %}